body{
 	 	font-family: courier new, monospace;
        background-color:  #5B7040;
 }

 .container{
    color: white;
    background-color:  #5B7040;
font-size: 24px;
text-align: center;
}

 .title {
    color: white;
    font-size: 57px;
    text-align: center;
    font-family: courier new, monospace;
    position: relative
}


.naglav{
    color: white;
    font-size: 24px;
text-align: center;
text-decoration: none;
}

